<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="topnav" class="navbar navbar-expand-lg bg-white border-bottom sticky-top">
    <div class="container">
        <a class="navbar-brand fw-semibold" th:href="@{/}">
            <i class="bi bi-house-door"></i>
            <span th:text="#{nav.home}"></span>
        </a>
        <div class="ms-auto d-flex align-items-center gap-2">
            <a class="btn btn-sm btn-outline-secondary" href="?lang=pt_BR">pt</a>
            <a class="btn btn-sm btn-outline-secondary" href="?lang=en_US">en</a>
            <a sec:authorize="!isAuthenticated()" class="btn btn-sm btn-primary" th:href="@{/login}">
                <i class="bi bi-box-arrow-in-right"></i>
                <span th:text="#{nav.login}"></span>
            </a>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class="m-0">
                <button class="btn btn-sm btn-outline-danger" type="submit">
                    <i class="bi bi-box-arrow-right"></i>
                    <span th:text="#{nav.logout}"></span>
                </button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>
